/* Google Fonts */
@import url('https://fonts.googleapis.com/css2');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* ===== Global====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: snow;
}

ul {
    list-style: none;
}

.active {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

body , html {
    overflow:auto;
}

/* Navbar */
.navbar  ul{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(36, 33, 33);
    font-weight: bold;
    font-size: 1.1em;
    

 
}
 .logo {
    text-decoration: none;
    font-weight: bold;
    color: rgb(151, 29, 29);
    font-size: 1.2em;
 }

 span {
    color: rgb(48, 160, 108);
 }

 /*  Things to do */



.title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: rgb(151, 29, 29);
}

.nav-links {
    display: flex;
    align-items: center;
    
}
 .nav-links li {
    margin: 0 30px;
 }

header{
    width: 100vw;
    height: 100vh;
    background-image: url('elephant-in-river.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content {
    margin-bottom: 150px;
    color:whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;

}

.line {
    width: 180px;
    height: 4px;
    background:#fff;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    

}

/* Itinerary */

.itinerary {
    display: flex;
    /* always on the cross axis */
    align-items:center;
     /* always on the main axis */
    justify-content: space-between;
    flex-direction: row;
    flex: 1;


   
}

.i {
    display: flex;
    align-items: center;
    flex-direction: column;
}





.footer {
    width: 100%;
    height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #2b2d36;
    text-align: center;

   } 

   .footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;

   }
   .footer {
    padding: 10px;
   }

   /* Animations */
img {
    transition: transform .3s ease;
}
img:hover{
    transition: scale(1.1);
}


* {
    padding: 0;
    margin: 0;
}


.safari {
    display: flex;
    flex-wrap: wrap;
    /* border: solid red 3px; */
    flex-direction: row;
    align-items: stretch;
    text-align: right;
    
    
}

#safari-pick {
    max-height: max-content;
    width: 45%;
    margin-bottom: 20px;
    

}

#safari-text {
    display: flex;
    padding-left: 40px;
    width: 45%;
    justify-content: right;
    text-align:justify;

}

.flights {
    display: flex;
    text-align: right;
}

#plane {
    max-height: max-content;
    width: 45%;
    margin-bottom: 20px;
}


#plane-txt {
    display: flex;
    padding-left: 40px;
    width: 45%;
    justify-content: right;
    text-align:justify;
}


.lion {
    display: flex;
    flex-wrap: wrap;
    /* border: solid red 3px; */
    flex-direction: row;
    align-items: stretch;
    text-align: right;
    
    
}

#lion-image {
    max-height: max-content;
    width: 45%;
    margin-bottom: 20px;
    

}

#lion-text {
    display: flex;
    padding-left: 40px;
    width: 45%;
    justify-content: right;
    text-align:justify;

}
