/* Google Fonts */
@import url('https://fonts.googleapis.com/css2');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* ===== Global====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: snow;
}

ul {
    list-style: none;
}




.navbar ul {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(36, 33, 33);
    font-weight: bold;
    font-size: 1.1em;
    align-items: center;
    

 
}
 .logo {
    text-decoration: none;
    font-weight: bold;
    color: rgb(151, 29, 29);
    font-size: 1.2em;
 }

 span {
    color: rgb(48, 160, 108);
 }

 /*  Things to do */



.title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: rgb(151, 29, 29);
}

.nav-links {
    display: flex;
    align-items: center;
    
}
 .nav-links li {
    margin: 0 30px;
 }

header{
    width: 100vw;
    height: 100vh;
    background-image: url('gz-tower.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content {
    margin-bottom: 150px;
    color:whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;

}

.line {
    width: 180px;
    height: 4px;
    background:#fff;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    
   
    

}

/*  Events */
section {
    width: 100%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 7vmin;
    color: #be2a2a;
}


.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;


}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.events .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color: #be2a2a;
    margin: 20px auto;
}

p {
    color: #703838;
    padding: 0px 40px;
}

.explore {
    width: 100%;
    height: 100vh;
    background-image:url('Pool-to-Zambezi-River-View-Pool.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    display: flex;
    align-items:center;
    transition: .3s ease-in-out;

}
.explore:hover{
    transform: scale(1.1);
}

.explore-content {
    width: 100%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}




.explore-content h1 {
    font-size: 5vmin;
    margin: 50px;
    /* font-family: 'Dancing Script', cursive ; */
}

.explore p {
    color: #2e1e49;
    font-size: 22px;

}

.explore-content .line {
    margin-bottom: 10px;
}

   

.footer {
    width: 100%;
    height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #2b2d36;
    text-align: center;

   } 

   .footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;

   }
   .footer {
    padding: 10px;
   }








